.cursos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: #F7F7F7;
  margin-top: 66px;
  margin-bottom: 117px;
}

.card {
  width:340px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {  
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FF4081;
  margin-bottom: 23px ;
}

.card__description {
  
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 17px;

text-align: center;
margin-bottom: 26px;
}

.card__button {
  width: 233px;
  height: 51px;
  background: #FF4081;
  border-radius: 62px;
  border-color: transparent;
  cursor: pointer;
  margin-bottom: 45px;
}

.card__button span {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
.investimentImg {
  margin-top: 45px;
  margin-bottom: 45px;
}

.about {
  width: 100%;
  margin-left: 128px;
}

.about__container {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
  font-family: "Ubuntu";

  
}

.depo {
  display: flex;
  
}

.avatar__cicle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 104px;
  background: #FFFFFF;
  border: 3px solid #FF4081;
  border-radius: 50%;
  margin-right: 28px;
}

.avatar__cicle img {
  object-fit: cover;
}

.depoimento {
  width: 360px
  

}

.depoimento p span {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.depoimento span {
  font-weight: 400;
}


